header{
    background-color: blue;
    grid-column: 1/-1;
    display: grid;
    place-content: center;
}
nav{
    background-color: rgb(237, 91, 171);
    grid-column: 1/-1;
    display: grid;
    place-content: center;
}
aside{
    background-color: rgb(18, 230, 18);
    grid-row: 3/12;
    display: grid;
    place-content: center;
}
section{
    background-color: rgb(244, 150, 43);
    text-align: center;
    grid-row: 3/12;
    display: flex;
    place-content: center;
    flex-direction: column;
    padding: 10px;
    gap:10px;
}
article{
    background-color: yellow;
    height: 100%;
    display: grid;
    place-content: center;
}
footer{
    background-color: purple;
    grid-column: 1/-1;
    display: grid;
    place-content: center;
}
*{
    border-radius: 8px;
}
body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, 1fr);
    height: 98vh;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

body{
    background-color: rgb(0, 0, 0);
    color: white;
   
}
div{
    position: relative;

}


table {
    margin: 0 auto;
    font-size: 12px;
    border: 1px solid yellow;
}

h1 {
    text-align: center;
    color: #fcfcfc;
    font-size: 25px;
    font-family: 'Gill Sans', 
        'Gill Sans MT', ' Calibri', 
        'Trebuchet MS', 'sans-serif';
}

td {
    background-color: #ffffff;
    color: #000;
    border: 1px solid rgb(247, 255, 3);
}

th,tr, th {
    font-weight: bold;
    border: 1px solid white;
    padding: 1px;
    text-align: center;
}

td {
    font-weight: lighter;
}