<<<<<<< HEAD
body{
	background-color: orange;
}
h1{
font-family: 'Blaster Eternal', sans-serif;

                                                
=======
body{
	background-color: orange;
}
h1{
font-family: 'Blaster Eternal', sans-serif;

                                                
>>>>>>> 544607adadf62c55f537ffb630046011e8627cc5
}